.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 90%;
  max-width: 800px;
}

.form-group {
  width: inherit;
  border: 1px solid black;
}

.pagination-back-button {
  float: left;
}

.pagination-next-button {
  text-align: right;
}