body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}

[data-bs-theme='light'] {
  .btn-secondary {
    --bs-btn-bg: --bs-body-color;
    --bs-btn-hover-bg: var(--bs-tertiary-bg);
    --bs-btn-active-color: var(--bs-tertiary-bg);
    --bs-btn-active-bg: var(--bs-tertiary-bg);
    border: var(--bs-border-width) solid var(--bs-border-color);
    color: black;
  }
}

[data-bs-theme='dark'] {
  .btn-secondary {
    --bs-btn-bg: --bs-body-color;
    border: var(--bs-border-width) solid var(--bs-border-color);
  }
}

.nav {
  --bs-nav-link-color: var(--bs-secondary);
  --bs-nav-link-hover-color: var(--bs-body-color);
}

.top90-app-container {
  width: 100%;
  max-width: 800px;
}
